body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0 20px;
  padding: 20px;
}

details {
  margin: 20px 0;
  padding: 0 10px;
  border-left: 2px solid #666;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #666;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin: 10px 0;
}

table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px #00000047;
  border-radius: 10px;
  overflow: hidden;
}

td:nth-child(3) {
  color: red;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #7dbaff;
}

tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

/* Styles for difflib.HtmlDiff().make_table() output */
table.diff {
  width: 1080px;
  table-layout: fixed;
  margin-bottom: 0;
  border-radius: 0;
}

table.diff:first-of-type {
  border-collapse: collapse;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table.diff:last-of-type {
  border-collapse: collapse;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

table.diff td {
  color: #000000;
}

td.diff_header {
  text-align: right;
}

th.diff_next {
  background-color: #7dbaff;
}

.diff_add {
  background-color: #aaffaa;
}

.diff_chg {
  background-color: #ffff77;
}

.diff_sub {
  background-color: #ffaaaa;
}

colgroup {
  width: 2%;
}

colgroup:nth-child(3n) {
  width: 48%;
}
