body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0 20px;
  padding: 20px;
}

details {
  margin: 10px 0 20px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px #00000047;
  border-radius: 10px;
  overflow: hidden;
}

td:nth-child(3) {
  color: red;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #7dbaff;
}

tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}
